{% extends 'base.html' %}

{% block 'main' %}
{% if pbe %}
<h1>{{ pbe.title }}</h1>
{% if searchtag %}<p>Keresés <span class="tag">{{ searchtag }}</span> címke alapján</p>{% endif %}
<div class="nav">
  {% if searchtag %}
    {% url tagsearchid searchtag prev.id as prevurl %}
    {% url tagsearchid searchtag next.id as nexturl %}
  {% else %}
    {% url pblog prev.id prev.title|slugify as prevurl %}
    {% url pblog next.id next.title|slugify as nexturl %}
  {% endif %}
  {% if prev %}<a href="{{ prevurl }}">Previous</a>{% endif %}
  <a href="{% url showfile pbe.path %}">Browse</a>
  {% if next %}<a href="{{ nexturl}}">Next</a>{% endif %}
</div>

<h2 class="tags">Tags: 
  {% for tag in pbe.tags.all %}
  <a class="tag" href="{% url tagsearch tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
</h2>

<div>
  <img alt="{{ pbe.title }}" src="{{ pbe.fdata.direct_url }}"/>
</div>
{% else %}

<h1>Nincs ilyen kép.</h1>
{% if user.is_authenticated %}
<a href="{% url listdir '' %}">Böngészés</a>
{% endif %}

{% endif %}
{% endblock %}
