{% extends 'base.html' %}
{% load disqus_tags %}

{% block 'title' %}{{ block.super }} - {{ fname }}{% endblock %}

{% block 'extrahead' %}
{{ block.super }}
{% disqus_dev %}
{% endblock %}

{% block 'main' %}
<h1>{{ fname }}</h1>
<a href="{% url listdir parent %}">parent{% if parent %} ({{ parent }}){% endif %}</a>

{% if pbform %}
<form action="{% url submitpbentry %}" method="post">
  {% csrf_token %}
  {{ pbform.as_p }}
  <p><input type="submit" name="submitpbe" value="Ok" /></p>
</form>
{% endif %}

<div>
  <img alt="{{ fname }}" src="{{ fdata.direct_url }}"/>
</div>

<div id="comments">
{% disqus_show_comments %}
</div>

{% endblock %}

